<div class = "container mt-5">
  <div *ngIf="!registerMode" style = "text-align: center;">
    <h1>Find your match SignUp Now</h1>
    <div class = "text-center">
      <button class = "btn btn-primary btn-lg me-2" *ngIf="!(accountService.currentUsers$ | async)" (click)="loginToggle()">Login</button>
      <button class = "btn btn-primary btn-lg me-2" *ngIf="!(accountService.currentUsers$ | async)" (click)="registerToggle()">Register</button>
      <button class = "btn btn-primary btn-info btn-lg">Explore</button>
    </div>
  </div>

</div>
