.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}
.custom-button {
  color: black;          /* Text color */
  border-color: black;   /* Border color */
}
.login-input {
  border: 1px solid #141414; /* Add a border to the login-input divs */
  padding: 5px;         /* Add padding for spacing */
  margin-right: 10px;   /* Add right margin for spacing between input fields */

}
